                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" class="footer-cell">
                                            <h2 class="text-center white-text">Need help?</h2>
                                            <br>
                                            <p class="text-center">Call {{ SUPPORT_PHONE}} or email {{ SUPPORT_EMAIL}}</p>
                                            <p class="text-center">
                                                &copy; {{ CURRENT_YEAR }} Propeller Health 634 West Main Street, Madison, WI 53703, USA
                                            </p>
                                            <br>
                                            <p class="text-center">
                                                <a class="unsubscribe-link" href="{{API_URL}}/unsubscribe?to={{toEmail}}">Unsubscribe</a>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" class="disclaimer-cell">
                                            <p class="text-center">
                                                Please be aware that e-mail communication can be intercepted in transmission or misdirected. The information contained in this message may be privileged and confidential. If you are NOT the intended recipient, please notify the sender immediately with a copy to {{ SUPPORT_EMAIL}} and delete this message.
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </center>
            </td>
        </tr>
    </table>
    <!--RGK: the following block prevents the mobile gmail app from bumping up the font size of emails -->
    <div class="gmail-font-size">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    </div>
</body>
</html>